@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

:root {
    --color-purple-100: hsl(254, 88%, 90%);
    --color-purple-500: hsl(256, 67%, 59%);

    --color-yellow-100: hsl(31, 66%, 93%);
    --color-yellow-500: hsl(39, 100%, 71%);

    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 96%);
    --color-black: hsl(0, 0%, 7%);
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black);
    background-color: var(--color-gray);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
}

.grid > div img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}